<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="minAndMaxContainer">
            <div class="minContainer">
                <p>Min:</p>
                <input id="minNum" type="number" autocomplete="off">
            </div>

            <div class="maxContainer">
                <p>Max:</p>
                <input id="maxNum" type="number" autocomplete="off">
            </div>
        </div>

        <div class="button">
            <button id="generateBtn">Generate</button>
        </div>

        <div class="numberGenerated">
            <p id="numberGenerated">0</p>
        </div>
    </div>
</body>
</html>